In [99]:
import numpy as np
import pandas as pd
import joblib

from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from scipy.sparse import csr_matrix

## sparse matrix の調査

In [ ]:
X_fit = vstack([train[train_index[i*m:(i+1)*m]] for i in range(train_index.shape[0] // m + 1)])
X_val = vstack([train[test_index[i*m:(i+1)*m]]  for i in range(test_index.shape[0] //  m + 1)])

X_fit, X_val = csr_matrix(X_fit, dtype='float32'), csr_matrix(X_val, dtype='float32')

In [80]:
cce1 = pd.read_pickle('../inputs/features/cce_le_AVProductStatesIdentifier.pkl.gz')
cce2 = pd.read_pickle('../inputs/features/cce_le_AppVersion.pkl.gz')
cce3 = pd.read_pickle('../inputs/features/cce_le_PuaMode.pkl.gz')

In [81]:
df = pd.concat([cce1, cce2, cce3], axis=1)
df.head()

   cce_le_AVProductStatesIdentifier  cce_le_AppVersion  cce_le_PuaMode
0                           30198.0                  0             0.0
1                           30198.0                 30             0.0
2                           30198.0                  0             0.0
3                           30198.0                  0             0.0
4                           30198.0                  0             0.0

In [100]:
#Fit OneHotEncoder
ohe = OneHotEncoder(categories='auto', sparse=True, dtype='uint8').fit(df)

In [104]:
res = csr_matrix(ohe.transform(df.values), dtype='float32')

In [105]:
res

<16774736x245 sparse matrix of type '<class 'numpy.float32'>'
	with 50324208 stored elements in Compressed Sparse Row format>

In [106]:
res.shape

(16774736, 245)

In [85]:
a = csr_matrix(df.values, dtype='float32')
a

<16774736x3 sparse matrix of type '<class 'numpy.float32'>'
	with 20995055 stored elements in Compressed Sparse Row format>

In [96]:
a.toarray()

array([[3.0198e+04, 0.0000e+00, 0.0000e+00],
       [3.0198e+04, 3.0000e+01, 0.0000e+00],
       [3.0198e+04, 0.0000e+00, 0.0000e+00],
       ...,
       [3.8713e+04, 0.0000e+00, 0.0000e+00],
       [3.0198e+04, 9.3000e+01, 0.0000e+00],
       [3.0198e+04, 0.0000e+00, 0.0000e+00]], dtype=float32)

In [89]:
import lightgbm as lgbm

In [90]:
lgb_model = lgbm.LGBMClassifier(max_depth=-1,
                                   n_estimators=30000,
                                   learning_rate=0.05,
                                   num_leaves=2**12-1,
                                   colsample_bytree=0.28,
                                   objective='binary', 
                                   n_jobs=-1)

In [91]:
lgb_model.fit(X_fit, y_fit, eval_metric='auc', 
              eval_set=[(X_val, y_val)], 
              verbose=100, early_stopping_rounds=100)

NameError: name 'X_fit' is not defined

In [3]:
cce1.dtypes

CategoricalDtype(categories=[    0,  1083,  1377,  1649,  1842,  2437,  2532,  2586,
                   2789,  3009,
                  ...
                  36300, 36849, 36923, 37206, 38116, 38128, 38712, 39382,
                  39539, 39703],
                 ordered=False)

In [4]:
cce2.dtypes

CategoricalDtype(categories=[  0,   1,   2,   4,   5,   6,  12,  13,  15,  16,  18,  19,
                   22,  24,  25,  27,  29,  30,  33,  34,  42,  43,  44,  51,
                   77,  82,  84,  86,  88,  91,  92, 103, 106, 107, 108, 109,
                  110, 114, 115, 116, 117, 118, 119, 120, 121, 122],
                 ordered=False)

In [9]:
cce3.dtypes

CategoricalDtype(categories=[0, 2], ordered=False)

In [ ]:
cce3

In [5]:
%%time
pd.concat([cce1.reset_index(drop=True), cce2.reset_index(drop=True), cce3.reset_index(drop=True)], axis=1)

CPU times: user 52 ms, sys: 136 ms, total: 188 ms
Wall time: 8.77 ms

         cce_le_AVProductStatesIdentifier cce_le_AppVersion cce_le_PuaMode
0                                   30197                 0              0
1                                   30197                29              0
2                                   30197                 0              0
3                                   30197                 0              0
4                                   30197                 0              0
5                                   30197                 0              0
6                                   24588                 0              0
7                                   30197                 0              0
8                                   30197                 0              0
9                                   26090                 0              0
10                                  30197                 0              0
11                                  26600                 0              0
12                                  20539                 0              0
13                                  30197                 0              0
14                                   4851                 0              0
15                                  26600                 0              0
16                                  16758               122              0
17                                      0                 0              0
18                                  30197                 0              0
19                                  26600                 0              0
20                                  30197                15              0
21                                  30197                 0              0
22                                  30197                 0              0
23                                   4851                 0              0
24                                  30197                 0              0
25                                  30197                 0              0
26                                  30197                 0              0
27                                  30197                29              0
28                                  30197                 0              0
29                                  30197                 0              0
...                                   ...               ...            ...
16774706                            26600                92              0
16774707                            30197                 0              0
16774708                            30197                 0              0
16774709                            30197                 0              0
16774710                            25369                 0              0
16774711                            30197                 0              0
16774712                            24588                 0              0
16774713                             4851                 0              0
16774714                            26600                 0              0
16774715                            30197                 0              0
16774716                            30197                 0              0
16774717                            30197                 0              0
16774718                            30197                29              0
16774719                            30197               110              0
16774720                            30197                 0              0
16774721                            30197                 0              0
16774722                            30197                 0              0
16774723                            26600                 0              0
16774724                            30197                 0              0
16774725                            30197                 0              0
16774726                             1842                 0              0
16774727                            25339                 0              0
16774728                            30197                 0              0
16774729                            26600                 0              0
16774730                            30197                 0              0
16774731                            30197                 0              0
16774732                            30197                 0              0
16774733                            38712                 0              0
16774734                            30197                92              0
16774735                            30197                 0              0

[16774736 rows x 3 columns]

In [8]:
%%time
a = pd.concat([cce1, cce2], axis=1, sort=False)

CPU times: user 1.01 s, sys: 3.28 ms, total: 1.01 s
Wall time: 1 s

In [6]:
le1 = pd.read_pickle('../inputs/features/le_PuaMode.pkl.gz')

In [7]:
le1

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
            ..
16774706   NaN
16774707   NaN
16774708   NaN
16774709   NaN
16774710   NaN
16774711   NaN
16774712   NaN
16774713   NaN
16774714   NaN
16774715   NaN
16774716   NaN
16774717   NaN
16774718   NaN
16774719   NaN
16774720   NaN
16774721   NaN
16774722   NaN
16774723   NaN
16774724   NaN
16774725   NaN
16774726   NaN
16774727   NaN
16774728   NaN
16774729   NaN
16774730   NaN
16774731   NaN
16774732   NaN
16774733   NaN
16774734   NaN
16774735   NaN
Name: le_PuaMode, Length: 16774736, dtype: float64

In [25]:
a['cce_le_AVProductStatesIdentifier'].dtype

CategoricalDtype(categories=[    0,  1083,  1377,  1649,  1842,  2437,  2532,  2586,
                   2789,  3009,
                  ...
                  36300, 36849, 36923, 37206, 38116, 38128, 38712, 39382,
                  39539, 39703],
                 ordered=False)

In [78]:
def frequency_encoding(series):
    t = series.value_counts().reset_index()
    t = t.reset_index()
    variable = t.columns[-1]
    t.loc[t[variable] == 1, 'level_0'] = np.nan
    t.set_index('index', inplace=True)
    max_label = t['level_0'].max() + 1
    t.fillna(max_label, inplace=True)
    return t.to_dict()['level_0']

In [79]:
frequency_encoding(cce1)

{30197: 0.0,
 4851: 1.0,
 0: 2.0,
 26600: 3.0,
 35365: 4.0,
 26090: 5.0,
 27865: 6.0,
 13731: 7.0,
 23153: 8.0,
 29310: 9.0,
 16758: 10.0,
 24588: 11.0,
 26236: 12.0,
 13095: 13.0,
 1842: 14.0,
 24550: 15.0,
 4002: 16.0,
 22480: 17.0,
 38712: 18.0,
 34633: 19.0,
 35917: 20.0,
 32199: 21.0,
 14068: 22.0,
 27301: 23.0,
 34492: 24.0,
 25545: 25.0,
 7289: 26.0,
 22558: 27.0,
 6798: 28.0,
 5753: 29.0,
 24737: 30.0,
 30161: 31.0,
 33798: 32.0,
 13388: 33.0,
 28406: 34.0,
 26374: 35.0,
 30630: 36.0,
 24357: 37.0,
 23829: 38.0,
 1377: 39.0,
 18261: 40.0,
 38128: 41.0,
 34881: 42.0,
 24509: 43.0,
 29555: 44.0,
 30318: 45.0,
 4684: 46.0,
 30054: 47.0,
 31256: 48.0,
 26146: 49.0,
 4291: 50.0,
 25339: 51.0,
 25953: 52.0,
 35186: 53.0,
 28278: 54.0,
 39703: 55.0,
 13808: 56.0,
 23511: 57.0,
 25477: 58.0,
 22532: 59.0,
 34529: 60.0,
 28969: 61.0,
 29740: 62.0,
 26948: 63.0,
 25603: 64.0,
 30388: 65.0,
 7988: 66.0,
 26637: 67.0,
 26673: 68.0,
 26268: 69.0,
 21774: 70.0,
 22631: 71.0,
 3847: 72.0,
 36300: 73.0,
 26722: 74.0,
 13920: 75.0,
 32599: 76.0,
 34204: 77.0,
 24428: 78.0,
 5431: 79.0,
 30100: 80.0,
 22227: 81.0,
 27050: 82.0,
 23636: 83.0,
 22639: 84.0,
 22573: 85.0,
 23926: 86.0,
 13169: 87.0,
 25369: 88.0,
 17640: 89.0,
 26415: 90.0,
 26293: 91.0,
 2789: 92.0,
 13484: 93.0,
 29894: 94.0,
 3888: 95.0,
 24476: 96.0,
 15631: 97.0,
 39382: 98.0,
 3162: 99.0,
 33927: 100.0,
 7866: 101.0,
 28346: 102.0,
 33309: 103.0,
 26248: 104.0,
 26159: 105.0,
 24061: 106.0,
 27130: 107.0,
 33778: 108.0,
 25916: 109.0,
 25193: 110.0,
 25378: 111.0,
 22798: 112.0,
 36102: 113.0,
 21284: 114.0,
 29027: 115.0,
 23485: 116.0,
 29060: 117.0,
 2586: 118.0,
 1083: 119.0,
 19461: 120.0,
 3009: 121.0,
 6144: 122.0,
 24111: 123.0,
 24278: 124.0,
 29208: 125.0,
 30247: 126.0,
 14421: 127.0,
 9811: 128.0,
 22969: 129.0,
 23329: 130.0,
 22841: 131.0,
 3933: 132.0,
 30936: 133.0,
 31679: 134.0,
 36849: 135.0,
 34214: 136.0,
 30422: 137.0,
 20167: 138.0,
 29913: 139.0,
 21359: 140.0,
 39539: 141.0,
 26413: 142.0,
 23462: 143.0,
 25422: 144.0,
 20539: 145.0,
 22691: 146.0,
 9051: 147.0,
 9882: 148.0,
 12688: 149.0,
 6052: 150.0,
 8931: 151.0,
 5640: 152.0,
 34761: 153.0,
 19244: 154.0,
 26845: 155.0,
 25819: 156.0,
 31973: 157.0,
 26387: 158.0,
 38116: 159.0,
 24624: 160.0,
 7540: 161.0,
 21705: 162.0,
 6578: 163.0,
 34992: 164.0,
 22579: 165.0,
 12888: 166.0,
 24667: 167.0,
 4460: 168.0,
 24286: 169.0,
 5188: 170.0,
 3036: 171.0,
 34270: 172.0,
 1649: 173.0,
 31223: 174.0,
 37206: 175.0,
 29760: 176.0,
 13311: 177.0,
 2437: 178.0,
 36923: 179.0,
 10480: 180.0,
 29869: 181.0,
 24702: 182.0,
 2532: 183.0,
 27913: 184.0,
 26115: 185.0,
 23792: 186.0,
 28124: 187.0,
 14984: 188.0,
 4133: 189.0,
 16947: 190.0,
 27496: 191.0,
 11748: 192.0,
 7371: 193.0,
 30674: 194.0,
 3483: 195.0}

In [77]:
a = cce1.value_counts().reset_index()
a
b = a.reset_index()
b
b.loc[b['cce_le_AVProductStatesIdentifier'] == 1, 'level_0'] = np.nan
b
b.set_index('index', inplace=True)
b

       level_0  cce_le_AVProductStatesIdentifier
index
30197      0.0                          11333187
4851       1.0                            771310
0          2.0                            666184
26600      3.0                            629111
35365      4.0                            522088
26090      5.0                            191441
27865      6.0                            181362
13731      7.0                            160455
23153      8.0                            151316
29310      9.0                            131974
16758     10.0                            117033
24588     11.0                             83956
26236     12.0                             76865
13095     13.0                             71503
1842      14.0                             71381
24550     15.0                             67944
4002      16.0                             57255
22480     17.0                             52905
38712     18.0                             52662
34633     19.0                             51951
35917     20.0                             51525
32199     21.0                             43118
14068     22.0                             34460
27301     23.0                             31783
34492     24.0                             31472
25545     25.0                             30749
7289      26.0                             30668
22558     27.0                             29350
6798      28.0                             27395
5753      29.0                             26040
...        ...                               ...
12888    166.0                              2222
24667    167.0                              2221
4460     168.0                              2205
24286    169.0                              2195
5188     170.0                              2138
3036     171.0                              2129
34270    172.0                              2105
1649     173.0                              2089
31223    174.0                              2065
37206    175.0                              2034
29760    176.0                              2015
13311    177.0                              2000
2437     178.0                              1947
36923    179.0                              1939
10480    180.0                              1911
29869    181.0                              1892
24702    182.0                              1830
2532     183.0                              1785
27913    184.0                              1778
26115    185.0                              1752
23792    186.0                              1745
28124    187.0                              1744
14984    188.0                              1741
4133     189.0                              1719
16947    190.0                              1717
27496    191.0                              1619
11748    192.0                              1595
7371     193.0                              1586
30674    194.0                              1509
3483     195.0                              1494

[196 rows x 2 columns]

In [72]:
cce1_cnt = cce1.value_counts().reset_index()
cce1_col = cce1_cnt.columns[1]
cce1_cnt.columns = [cce1_col, 'fe' + cce1_col]
cce1_cnt.head()

   index  cce_le_AVProductStatesIdentifier
0  30197                          11333187
1   4851                            771310
2      0                            666184
3  26600                            629111
4  35365                            522088

In [64]:
pd.DataFrame(cce1.reset_index(drop=True)).astype(int).merge(cce1_cnt, on='cce_le_AVProductStatesIdentifier', how='left')

          cce_le_AVProductStatesIdentifier counts
0                                    30197    NaN
1                                    30197    NaN
2                                    30197    NaN
3                                    30197    NaN
4                                    30197    NaN
5                                    30197    NaN
6                                    24588    NaN
7                                    30197    NaN
8                                    30197    NaN
9                                    26090    NaN
10                                   30197    NaN
11                                   26600    NaN
12                                   20539    NaN
13                                   30197    NaN
14                                    4851    NaN
15                                   26600    NaN
16                                   16758    NaN
17                                       0    NaN
18                                   30197    NaN
19                                   26600    NaN
20                                   30197    NaN
21                                   30197    NaN
22                                   30197    NaN
23                                    4851    NaN
24                                   30197    NaN
25                                   30197    NaN
26                                   30197    NaN
27                                   30197    NaN
28                                   30197    NaN
29                                   30197    NaN
...                                    ...    ...
16774706                             26600    NaN
16774707                             30197    NaN
16774708                             30197    NaN
16774709                             30197    NaN
16774710                             25369    NaN
16774711                             30197    NaN
16774712                             24588    NaN
16774713                              4851    NaN
16774714                             26600    NaN
16774715                             30197    NaN
16774716                             30197    NaN
16774717                             30197    NaN
16774718                             30197    NaN
16774719                             30197    NaN
16774720                             30197    NaN
16774721                             30197    NaN
16774722                             30197    NaN
16774723                             26600    NaN
16774724                             30197    NaN
16774725                             30197    NaN
16774726                              1842    NaN
16774727                             25339    NaN
16774728                             30197    NaN
16774729                             26600    NaN
16774730                             30197    NaN
16774731                             30197    NaN
16774732                             30197    NaN
16774733                             38712    NaN
16774734                             30197    NaN
16774735                             30197    NaN

[16774736 rows x 2 columns]

In [36]:
df = pd.read_pickle('../inputs/features/cce_le_CountryIdentifier.pkl.gz')