In [2]:
import numpy as np
import pandas as pd
import joblib

from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

In [3]:
cce1 = pd.read_pickle('../inputs/features/cce_le_AVProductStatesIdentifier.pkl.gz')
cce2 = pd.read_pickle('../inputs/features/cce_le_AppVersion.pkl.gz')
cce3 = pd.read_pickle('../inputs/features/cce_le_PuaMode.pkl.gz')

In [3]:
cce1.dtypes

CategoricalDtype(categories=[    0,  1083,  1377,  1649,  1842,  2437,  2532,  2586,
                   2789,  3009,
                  ...
                  36300, 36849, 36923, 37206, 38116, 38128, 38712, 39382,
                  39539, 39703],
                 ordered=False)

In [4]:
cce2.dtypes

CategoricalDtype(categories=[  0,   1,   2,   4,   5,   6,  12,  13,  15,  16,  18,  19,
                   22,  24,  25,  27,  29,  30,  33,  34,  42,  43,  44,  51,
                   77,  82,  84,  86,  88,  91,  92, 103, 106, 107, 108, 109,
                  110, 114, 115, 116, 117, 118, 119, 120, 121, 122],
                 ordered=False)

In [9]:
cce3.dtypes

CategoricalDtype(categories=[0, 2], ordered=False)

In [ ]:
cce3

In [5]:
%%time
pd.concat([cce1.reset_index(drop=True), cce2.reset_index(drop=True), cce3.reset_index(drop=True)], axis=1)

CPU times: user 52 ms, sys: 136 ms, total: 188 ms
Wall time: 8.77 ms

         cce_le_AVProductStatesIdentifier cce_le_AppVersion cce_le_PuaMode
0                                   30197                 0              0
1                                   30197                29              0
2                                   30197                 0              0
3                                   30197                 0              0
4                                   30197                 0              0
5                                   30197                 0              0
6                                   24588                 0              0
7                                   30197                 0              0
8                                   30197                 0              0
9                                   26090                 0              0
10                                  30197                 0              0
11                                  26600                 0              0
12                                  20539                 0              0
13                                  30197                 0              0
14                                   4851                 0              0
15                                  26600                 0              0
16                                  16758               122              0
17                                      0                 0              0
18                                  30197                 0              0
19                                  26600                 0              0
20                                  30197                15              0
21                                  30197                 0              0
22                                  30197                 0              0
23                                   4851                 0              0
24                                  30197                 0              0
25                                  30197                 0              0
26                                  30197                 0              0
27                                  30197                29              0
28                                  30197                 0              0
29                                  30197                 0              0
...                                   ...               ...            ...
16774706                            26600                92              0
16774707                            30197                 0              0
16774708                            30197                 0              0
16774709                            30197                 0              0
16774710                            25369                 0              0
16774711                            30197                 0              0
16774712                            24588                 0              0
16774713                             4851                 0              0
16774714                            26600                 0              0
16774715                            30197                 0              0
16774716                            30197                 0              0
16774717                            30197                 0              0
16774718                            30197                29              0
16774719                            30197               110              0
16774720                            30197                 0              0
16774721                            30197                 0              0
16774722                            30197                 0              0
16774723                            26600                 0              0
16774724                            30197                 0              0
16774725                            30197                 0              0
16774726                             1842                 0              0
16774727                            25339                 0              0
16774728                            30197                 0              0
16774729                            26600                 0              0
16774730                            30197                 0              0
16774731                            30197                 0              0
16774732                            30197                 0              0
16774733                            38712                 0              0
16774734                            30197                92              0
16774735                            30197                 0              0

[16774736 rows x 3 columns]

In [8]:
%%time
a = pd.concat([cce1, cce2], axis=1, sort=False)

CPU times: user 1.01 s, sys: 3.28 ms, total: 1.01 s
Wall time: 1 s

In [6]:
le1 = pd.read_pickle('../inputs/features/le_PuaMode.pkl.gz')

In [7]:
le1

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
            ..
16774706   NaN
16774707   NaN
16774708   NaN
16774709   NaN
16774710   NaN
16774711   NaN
16774712   NaN
16774713   NaN
16774714   NaN
16774715   NaN
16774716   NaN
16774717   NaN
16774718   NaN
16774719   NaN
16774720   NaN
16774721   NaN
16774722   NaN
16774723   NaN
16774724   NaN
16774725   NaN
16774726   NaN
16774727   NaN
16774728   NaN
16774729   NaN
16774730   NaN
16774731   NaN
16774732   NaN
16774733   NaN
16774734   NaN
16774735   NaN
Name: le_PuaMode, Length: 16774736, dtype: float64

In [25]:
a['cce_le_AVProductStatesIdentifier'].dtype

CategoricalDtype(categories=[    0,  1083,  1377,  1649,  1842,  2437,  2532,  2586,
                   2789,  3009,
                  ...
                  36300, 36849, 36923, 37206, 38116, 38128, 38712, 39382,
                  39539, 39703],
                 ordered=False)